/*-----------------------------------------FONTS----------------------------------*/
@font-face {
   font-family: 'Fredoka-SemiBold';
   src: url('fonts/Fredoka-SemiBold.eot');
   src: url('fonts/Fredoka-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Fredoka-SemiBold.svg#Fredoka-SemiBold') format('svg'),
        url('fonts/Fredoka-SemiBold.ttf') format('truetype'),
        url('fonts/Fredoka-SemiBold.woff') format('woff'),
        url('fonts/Fredoka-SemiBold.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Poppins-SemiBold';
   src: url('fonts/Poppins-SemiBold.eot');
   src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fredoka-Regular';
   src: url('fonts/Fredoka-Regular.eot');
   src: url('fonts/Fredoka-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Fredoka-Regular.svg#Fredoka-Regular') format('svg'),
        url('fonts/Fredoka-Regular.ttf') format('truetype'),
        url('fonts/Fredoka-Regular.woff') format('woff'),
        url('fonts/Fredoka-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }
 
/*--------------------------------------------------------------------------------------------*/
/*------------------------------ZERO-STYLING-----------------------------------------------------*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*------------------------------------------------------------------------------------------------*/

/*----------------------------------------MAIN PORTION--------------------------------------------*/
wrapper {
   width: 100vw;
   max-width: 1440px;
   min-height: 4166px;
}

.container {
   overflow: auto;
   min-width: 100%;
   min-height: 100%;
   max-width: 100%;
   display: flex;
   flex-direction: column;
}

.firstScreen {
   min-width: 100%;
   display: flex;
   max-width: 100%;
   max-height: 1086px;
   height: 1086px;
   background: linear-gradient(-45deg,  rgba(16, 115, 87, 1),  rgba(26, 61, 114, 1), rgba(9, 52, 66, 1));
   flex-direction: column;
}

.firstScreen__frame51 {
   max-width: 616px;
   max-height: 295px;
   margin: 169px auto 0 auto;
   display: flex;
   flex-direction: column; 
   font-family: 'Fredoka-Regular';
   font-size: 60px;
   text-align: center;
}

.firstScreen__frame51__1line, .firstScreen__frame51__3line {
   color: rgba(253, 244, 200, 1);
}

.firstScreen__frame51__2line {
   color: rgba(129, 173, 40, 1);
}

.firstScreen__frame51__button {
   max-width: 166px;
   min-width: 166px;
   max-height: 67px;
   min-height: 67px;
   background-color: #CD7F47;
   font-size: 16px;
   color: #FDF4C8;
   padding-top: 25.5px;
   margin-top: 21px;
   border-radius: 33.5px;
   margin-left: auto;
   margin-right: auto;
}

.firstScreen__lineEco__png {
   min-width: 124.95px;
   max-width: 124.95px;
   min-height: 16.38px;
   max-height: 16.38px;
   position: relative; 
   bottom: 211px;
   left: 657px;
}



.header {
   min-width: 100%;
   max-width: 100%;
   max-height: 67px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-family: 'Fredoka-SemiBold';
   position: fixed;
   top: 0;
   left: 0;
}

.header__leftMenu {
   min-width: 313px;
   min-height: 17px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 14px;
   color: #FDF4C8;
   margin-left: 112px;
   margin-top: 35.5px;
}

.header__rightMenu {
   min-width: 295px;
   min-height: 17px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 14px;
   color: #FDF4C8;
   margin-right: 112px;
   margin-top: 35.5px;
}

.header__mainLogo {
   display: flex;
   flex-wrap: row;
   margin-top: 15px;
   min-height: 67px;

}

.header__mainLogo__logoSmall1 {
   min-width: 67px;
   min-height: 53px;
}

.header__mainLogo__mainTitle {
   min-width: 138px;
   min-height: 31px;
   color: #FDF4C8;
   font-size: 26px;
   margin-top: 24px;
}

/*-----------------------------------------------------------------------------------------------*/