/*-----------------------------------------FONTS----------------------------------*/
@font-face {
   font-family: 'Fredoka-SemiBold';
   src: url('fonts/Fredoka-SemiBold.eot');
   src: url('fonts/Fredoka-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Fredoka-SemiBold.svg#Fredoka-SemiBold') format('svg'),
        url('fonts/Fredoka-SemiBold.ttf') format('truetype'),
        url('fonts/Fredoka-SemiBold.woff') format('woff'),
        url('fonts/Fredoka-SemiBold.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Poppins-SemiBold';
   src: url('fonts/Poppins-SemiBold.eot');
   src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fredoka-Regular';
   src: url('fonts/Fredoka-Regular.eot');
   src: url('fonts/Fredoka-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Fredoka-Regular.svg#Fredoka-Regular') format('svg'),
        url('fonts/Fredoka-Regular.ttf') format('truetype'),
        url('fonts/Fredoka-Regular.woff') format('woff'),
        url('fonts/Fredoka-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fredoka-Medium';
   src: url('fonts/Fredoka-Medium.eot');
   src: url('fonts/Fredoka-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Fredoka-Medium.svg#Fredoka-Medium') format('svg'),
        url('fonts/Fredoka-Medium.ttf') format('truetype'),
        url('fonts/Fredoka-Medium.woff') format('woff'),
        url('fonts/Fredoka-Medium.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }
 
/*--------------------------------------------------------------------------------------------*/
/*------------------------------ZERO-STYLING-----------------------------------------------------*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*------------------------------------------------------------------------------------------------*/

/*----------------------------------------MAIN PORTION--------------------------------------------*/
wrapper {
   width: 100vw;
   max-width: 1440px;
   min-height: 4166px;
}

.container {
   overflow: hidden;
   width: 100%;
   min-height: 100%;
   max-width: 1440px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

.firstScreen {
   min-width: 100%;
   display: flex;
   max-width: 100%;
   max-height: 1086px;
   height: 1086px;
   background: linear-gradient(-45deg,  rgba(16, 115, 87, 1),  rgba(26, 61, 114, 1), rgba(9, 52, 66, 1));
   flex-direction: column;
   position: relative;
}

.firstScreen__frame51 {
   max-width: 616px;
   max-height: 295px;
   margin-top: 169px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column; 
   font-family: 'Fredoka-Regular';
   font-size: 60px;
   text-align: center;
   z-index: 13;

   
}

.firstScreen__frame51__1line, .firstScreen__frame51__3line {
   color: rgba(253, 244, 200, 1);
   z-index: 9;
}

.firstScreen__frame51__2line {
   color: rgba(129, 173, 40, 1);
   z-index: 9;
}

.firstScreen__frame51__button {
   /* max-width: 166px; */
   min-width: 166px;
   max-height: 67px;
   min-height: 67px;
   background-color: #CD7F47;
   font-size: 16px;
   color: #FDF4C8;
   padding-top: 25.5px;
   margin-top: 21px;
   border-radius: 33.5px;
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   bottom: 650px;
   left: calc((100% - 166px) / 2);
   z-index: 1000;
   
}


.firstScreen__lineEco__png {
   max-width: 124.95px;
   min-width: 124.95px;
   min-height: 16.38px;
   max-height: 16.38px;
   position: relative; 
   bottom: 122px;
   right: 42px;
   z-index: 1;
}

.firstScreen__turtle__png {
   max-width: 547px;
   min-width: 547px;
   min-height: 583px;
   max-height: 583px;
   position: relative; 
   bottom: 60px;
   right: 48px;
   z-index: 1;
   /* display: none; */
}

.firstScreen__flowers {
   width: 100%;
   min-width: 100%;
   max-width: 1440px;
   min-height: 959.38px;
   position: absolute;
   left: 0;
   bottom: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   z-index: 10;
   
}

.firstScreen__flowers__flower1 {
   min-width: 330px;
   min-height: 717.19px;
   margin-top: 130px;
   margin-left: 28px;
   transition: all 1.5s  ease-in-out;
   
}

.firstScreen__flowers__flower1__png {
   max-width: 330px;
   min-width: 330px;
   height: 717.19px;
   min-height: 717.19px;

}

.firstScreen__flowers__flower2 {
   min-width: 417px;
   min-height: 849px;
   padding-right: 49px;
   padding-top: 231px;
   transition: all 1.5s  ease-in-out;

}

.firstScreen__flowers__flower2__png {
   max-width: 417px;
   min-width: 417px;
   max-height: 849px;
   min-height: 849px;
   
}

.firstScreen__flowers__stones {
   position: absolute;
   bottom: 0;
   left: 7%;
   width: 73%;
   /* min-width: calc(545.83px + 26px + 480px); */
   min-height: 309.46px;
   max-width: calc(545.83px + 26px + 480px);
   max-height: 309.46px;
   display: flex;
   

}

.firstScreen__flowers__stones__stone1 {
   max-width: 545.83px;
   min-width: 545.83px;
   max-height: 309.46px;
   min-height: 309.46px;
   position: relative;
   transition-duration: 1.5s;
   
}

.firstScreen__flowers__stones__stone1_padding {
   max-width: 545.83px;
   min-width: 545.83px;
   max-height: 309.46px;
   min-height: 309.46px;
}

.firstScreen__flowers__stones__stone1_shoeColored {
   max-width: 470px;
   min-width: 470px;
   max-height: 240px;
   min-height: 240px;
   position: absolute;
   bottom: 0;
   left: 62px;

}

.firstScreen__flowers__stones__stone2 {
   max-width: 480px;
   min-width: 480px;
   max-height: 272px;
   min-height: 272px;
   margin-top: 37.45px;
   transition-duration: 1.5s;
}

.firstScreen__flowers__stones__stone2_padding {
   max-width: 480px;
   min-width: 480px;
   max-height: 272px;
   min-height: 272px;
}

.firstScreen__flowers__stones__stone1_shoeGreen {
   max-width: 360px;
   min-width: 360px;
   max-height: 227px;
   min-height: 227px;
   position: absolute;
   bottom: 0;
   right: 105px;

}

.header {
   width: 100%;
   max-width: 1440px;
   max-height: 67px;
   height: 6.2%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-family: 'Fredoka-SemiBold';
   position: fixed;
   top: 0;
   left: calc((100vw - 100%) / 2);
   z-index: 15;
}

.header__leftMenu {
   width: 22%;
   max-width: 313px;
   height: 2%;
   max-height: 17px;
   /* min-height: 17px; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 14px;
   color: #FDF4C8;
   text-shadow: 1px 0 1px rgba(26, 61, 114, 1), 
   0 1px 1px rgba(26, 61, 114, 1), 
   -1px 0 1px rgba(26, 61, 114, 1), 
   0 -1px 1px rgba(26, 61, 114, 1);
   margin-left: 7.8%;
   /* margin-left: 112px; */
   margin-top: 2.43%;
   
}

.header__rightMenu {
   width: 20.4%;
   /* min-width: 295px; */
   max-height: 17px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 14px;
   color: #FDF4C8;
   text-shadow: 1px 0 1px rgba(26, 61, 114, 1), 
   0 1px 1px rgba(26, 61, 114, 1), 
   -1px 0 1px rgba(26, 61, 114, 1), 
   0 -1px 1px rgba(26, 61, 114, 1);
   margin-right: 7.8%;
   margin-top: 2.43%;
}

/* -----------------TEMPORARY LINK-------------------------------------- */
.link {
   justify-content: space-between;
   font-size: 14px;
   color: #FDF4C8;
}
/* ---------------------------------------------------------------------- */
.header__mainLogo {
   display: flex;
   flex-wrap: row;
   margin-top: 1.05%;
   min-height: 100%;
   
   
   /* min-height: 67px; */

}

.header__mainLogo__logoSmall1 {
   max-width: 53px;
   min-width: 53px;
   max-height: 67px;
   min-height: 67px;
   
}

.header__mainLogo__mainTitle {
   min-width: 138px;
   min-height: 31px;
   color: #FDF4C8;
   text-shadow: 1px 0 1px rgba(26, 61, 114, 1), 
   0 1px 1px rgba(26, 61, 114, 1), 
   -1px 0 1px rgba(26, 61, 114, 1), 
   0 -1px 1px rgba(26, 61, 114, 1);
   font-size: 26px;
   margin-top: 24px;
   text-align: center;
}

.editorial {
   width: 100%;
   max-width: 1440px;
   /* height: 956px; */
   background-color: #FDF4C8;
   display: flex;
   flex-direction: column;
}

.editorial__upper {
   width: 100%;
   max-width: 1440px;
   max-height: 716px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: relative;
}

.editorial__upper__bloom {
   min-width: 19.4%;
   max-width: 274.28px;
   padding-top: 6.8%;
   padding-left: 3.3%;
   transition-duration: 1.5s;
}

.editorial__upper__bloom__png {
   min-width: 100%;
   max-width: 226.87px;
   max-height: 566.15px;
}

.editorial__upper__center {
   max-width: 696px;
   width: 696px;
   display: flex;
  /*  flex-shrink: 0; */
   flex-direction: column;
   padding-top: 5.4%;
   /* padding-right: 4.57%;
   padding-left: 4.57%; */
   position: absolute;
   left: calc((100vw - 696px) / 2);
}

.editorial__upper__center__header {
   font-family: 'Fredoka-Medium';
   font-size: 40px;
   text-align: center;
}

.editorial__upper__center__text {
   font-family: 'Fredoka-Regular';
   font-size: 18px;
   text-align: center;
   padding-top: 3%;
}

.editorial__upper__center__video {
   max-width: 620px;
   min-width: 620px;
   max-height: 302px;
   width: 43%;
      height: 302px;
   border: 1px solid #00C5A8;
   margin-top: 5%;
   margin-right: auto;
   margin-left: auto;
}

.editorial__upper__turtle {
   min-width: 21.8%;
   max-width: 314px;
   padding-top: 9%;
   transition-duration: 1.5s;
}

.editorial__upper__turtle__png {
   min-width: 100%;
   max-width: 314px;
   max-height: 583px;
}

.editorial__frame81 {
   max-width: 1350px;
   /* height: 232px; */
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 48px;
   font-family: 'Fredoka-Regular';
   font-size: 16px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   
}

.editorial__frame81__item {
   max-width: 371px;
   min-width: 340px;
   /* max-height: 184px; */
   text-align: center;
   margin-left: 12px;
   margin-right: 12px;
   margin-top: 48px;
}

.editorial__frame81__item__img {
   max-width: 100px;
   max-height: 100px;
}

.galery {
   max-width: 1440px;
   /* max-height: 783px; */
   min-height: 783px;
   background: linear-gradient(45deg, rgba(9, 52, 66, 1), rgba(26, 61, 114, 1), rgba(16, 115, 87, 1));
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.galery__text {
   max-width: 696px;
   margin-top: 57px;
   color: rgba(253, 244, 200, 1);
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}

.galery__text {
   font-family: 'Fredoka-Medium';
   font-size: 48px;
   
}

.galery__text__smallText {
   font-family: 'Fredoka-Regular';
   font-size: 18px;
   margin-top: 16px;
}

.galery_ellipse3 {
   position: absolute;
   top: 4.3%;
   left: 2.3%;
   max-width: 119px;
   width: 8.2%;
   max-height: 96px;
   transition-duration: 4s;
}

.galery_ellipse5 {
   position: absolute;
   top: 16.8%;
   left: 12.5%;
   max-width: 104px;
   width: 7.2%;
   max-height: 85px;
   transition-duration: 4s;
   
}

.galery_ellipse13 {
   position: absolute;
   top: 12.7%;
   right: 5.8%;
   max-width: 159px;
   width: 11%;
   max-height: 120.5px;
   transition-duration: 4s;
}

.galery_ellipse8 {
   position: absolute;
   top: 71%;
   left: 3.7%;
   max-width: 78.8px;
   width: 5.4%;
   max-height: 54.49px;
   transform: rotate(40deg);
   transition-duration: 4s;
}

.galery_ellipse10 {
   position: absolute;
   top: 34%;
   left: 2.8%;
   max-width: 34px;
   width: 2.4%;
   max-height: 32px;
   transition-duration: 4s;
}

.galery_ellipse9 {
   position: absolute;
   top: 54%;
   left: 1.8%;
   max-width: 34px;
   width: 2.4%;
   max-height: 32px;  
   transition-duration: 4s;
}

.galery_ellipse12 {
   position: absolute;
   bottom: 28%;
   right: 3%;
   max-width: 34px;
   width: 2.4%;
   max-height: 32px;
   transition-duration: 4s;
   
}

.galery_ellipse11 {
   position: absolute;
   bottom: 22.1%;
   right: 10.9%;
   max-width: 29px;
   width: 2.0%;
   max-height: 39px;
   transition-duration: 4s;
   }

.galery__nature2 {
   max-width: 388px;
   max-height: 200px;
   min-width: 340px;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   
}

/*---------------------------------------------SLIDER-------------------------------------------*/
.slider {
   max-width: 1218px;
   max-height: 700px;
   height: 400px;
   min-width: 530px;
   width: 90%;
   position: relative;
   
   /* min-width: 1218px;
   min-height: 550px; */
   margin-top: 68px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: hidden;
}

.slider_container {
   width: 100%;
   height: 100%;
   height: 320px;
   position: relative;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   
}

.slide {
   position: absolute;
   width: 500px;
   height: 320px; 
   /* transition: all .5s ease-in-out; */
   cursor: pointer;
   
}

.slider_navigation {
   max-width: 105.02px;
   max-height: 68.01px;
   width: 105.02px;
   height: 68.01px;
   position: absolute;
   bottom: 0;
   /* top: 302px; */
}

.action-next {
   right: 105px;
}
.action-prev {
   left: 105px;
}

#next_png, #prev_png {
   width: 100%;
   height: 100%;
}

/*----------------------------------------------------------------------------------------------*/
   
/*-----------------------------------------------------------------------------------------------*/

/*-------------------------AT RESOLUTION MORE THAN 1440px----------------------------------------*/
@media (min-width: 1440px) {
   .header {
      left: calc((100vw - 1440px) / 2);
   }
   
   .editorial__upper__center {
      position: absolute;
   left: calc((1440px - 696px) / 2);
   }


}

/*-----------------------------------------------------------------------------------------------*/
/*------------------------------AT THE RESOLUTION LESS THAN 1440px-------------------------------*/
@media (max-width: 1400px) {
   /* .firstScreen__flowers__stones {
      left: calc((100vw - 545.825px) / 2);
   } */
   .firstScreen__flowers__stones__stone2, .firstScreen__flowers__stones__stone1   {
      opacity: 0;
      /* display: none; */
   }
   .firstScreen__flowers__flower1 {
      transform: translateX(-70px);
      padding-top: 250px;
   }

   .galery_ellipse9, .galery_ellipse10  {
      opacity: 0;
   } 

   .slider_container {
      max-width: 500px;
      width: 500px;
      margin: auto;
   }

   .action-next {
      right: 11%;
      bottom: 190px;
      transition: all 0.5s ease-in-out;
   }
   .action-prev {
      left: 13%;
      bottom: 190px;
      transition: all 0.5s ease-in-out;
   }
}
/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------AT THE RESOLUTION LESS THAN 1300px----------------------------*/
@media (max-width: 1300px) {
   .firstScreen__flowers__stones {
      left: calc((100vw - 545.825px) / 2);
   }
   
   .firstScreen__flowers__stones__stone1 {
      opacity: 1;
   }
   
   .firstScreen__flowers__flower1 {
      transform: translateX(-150px);
   }
   .firstScreen__flowers__flower2 {
      transform: translateX(170px);
   }
   
   .editorial__upper__bloom {
      transform: translateX(-100px);
   }
   
   .editorial__upper__turtle {
      transform: translateX(150px);
   }

   .galery_ellipse5, .galery_ellipse13, .galery_ellipse11  {
      opacity: 0;
   } 

   

   

}
/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------AT THE RESOLUTION LESS THAN 1000px----------------------------*/
@media (max-width: 1000px) {
   .firstScreen__flowers__flower1 {
      transform: translateX(-200px);
   }
   .firstScreen__flowers__flower2 {
      transform: translateX(250px);
   }
   .editorial__upper__bloom {
      transform: translateX(-200px);
   }
   
   .editorial__upper__turtle {
      transform: translateX(250px);
   }

   .galery_ellipse12, .galery_ellipse3, .galery_ellipse8 {
      opacity: 0;
   }

   .action-next {
    
      bottom: 0;
      
   }
   .action-prev {
    
      bottom: 0;
      
   }

}
/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------AT THE RESOLUTION LESS THAN 900px-----------------------------*/
@media (max-width: 900px) {
   .firstScreen__flowers__flower1 {
      transform: translateX(-290px);
   }
   .firstScreen__flowers__flower2 {
      transform: translateX(290px);
   }
   .editorial__upper__bloom {
      transform: translateX(-250px);
   }
   
   .editorial__upper__turtle {
      transform: translateX(290px);
   }

   .editorial__upper__center__text {
      font-size: 30px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
   }

   .editorial__frame81__item {
      font-size: 28px;
      min-width: 600px;

   }

   .galery__text__smallText {
      font-size: 30px;
      max-width: 600px;
   }

   .link {
      font-size: 20px;
   }

   .firstScreen__frame51__button {
      min-width: 250px;
      left: calc(((100% - 200px) / 2) - 25px);
   }
   

}
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------AT RESOLUTION LESS THAN 800px-------------------------------------------*/
@media (max-width: 800px) {
   .header__leftMenu, .header__rightMenu {
   font-size: 4px;
   width: 25%;
   flex-direction: column;
   align-items: center;
   min-height: 90px;
   }

}
/*-----------------------------------------------------------------------------------------------*/